name: universal_video_controls
description: "Video player controls for all platforms based on media_kit controls but with abstraction to allow any other player to work using it (video_player is supported)"
version: 1.0.20
homepage: https://github.com/abdelaziz-mahdy/universal_video_controls

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  synchronized: ^3.1.0
  wakelock_plus: ^1.1.6
  screen_brightness: ^1.0.0
  volume_controller: ^2.0.7
  universal_platform: ^1.0.0+1
  plugin_platform_interface: ^2.0.2
  collection: ^1.0.0
  meta: ^1.7.0
  window_manager: ^0.4.0
  web: ^1.0.0
  flutter_web_plugins:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.example.universal_video_controls
        pluginClass: UniversalVideoControlsPlugin
      ios:
        pluginClass: UniversalVideoControlsPlugin
      linux:
        pluginClass: UniversalVideoControlsPlugin
      macos:
        pluginClass: UniversalVideoControlsPlugin
      windows:
        pluginClass: UniversalVideoControlsPluginCApi
      web:
        pluginClass: UniversalVideoControlsWeb
        fileName: universal_video_controls_web.dart
  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
