name: Flutter Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
concurrency: 
  group: auto-deploy
  cancel-in-progress: true

jobs:
  build_web:
    name: Build Flutter Web and Deploy
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter Web
        run: flutter build web --release --base-href "/universal_video_controls/" --web-renderer canvaskit

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./universal_video_controls/example/build/web

  build_android:
    name: Build Flutter APK (Android)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
            distribution: 'zulu'
            java-version: '17'
            # cache: 'gradle'
            # check-latest: true
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter APK
        run: flutter build apk --release

  build_ios:
    name: Build Flutter IPA (iOS)
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Flutter Dependencies
        run: flutter pub get


      - name: Build Flutter 
        run: flutter build ios --verbose --no-codesign

  build_macos:
    name: Build Flutter macOS
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter macOS
        run: flutter build macos --release

  build_windows:
    name: Build Flutter Windows
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true

      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter Windows
        run: flutter build windows --release

  build_linux:
    name: Build Flutter Linux
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./universal_video_controls/example

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          cache: true
      
      - run: sudo apt-get update
      
      - run: sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev mpv libmpv-dev dpkg-dev p7zip-full p7zip-rar
      - name: Install Flutter Dependencies
        run: flutter pub get

      - name: Build Flutter Linux
        run: flutter build linux --release
